body{
    color: white;
    background-color: black;
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr 1fr;
}
.header{
    flex: 1,1,auto;
    font-size: 32px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    flex: 1,1,auto;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;

}
.body{
    flex: 1,1,auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 32px;
}
.container-input{
    flex: 1,1,auto;
    background-color: rgb(26, 25, 25);
    border: none;
    border-radius: 10%;
    padding: 50px;
}
.inputs{
    flex: 1,1,auto;
    justify-content: center;
    align-items: center;
    display:flex;
    flex-direction: column;
    gap: 10px;
}
.input{
    flex: 1,1,auto;
    margin-bottom: 10px;
    margin-top: 10px;
}
.passwordLength{
    flex: 1,1,auto;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    border:none
}
button{
    flex: 1,1,auto;
    border: none;
    padding: 16px;
    font-size: 20px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 700;
}
